<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <intent>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent>
    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />
    <activity android:name="za.ac.iie.history-lessons.MainActivity" />

    <activity android:name="za.ac.iie.history-lessons.MainActivity" />


</manifest>